body {
    margin: 0;
    padding: 0;
    background-color: #272727;
    background-size: cover;
    background-position: center;

}

.loginbox {
    width: 380px;
    height: 500px;
    background: #fff;
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 0.8rem;
    padding: 70px 30px;
    
}

.avatar {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 30px;
    font-family: "Baloo Da 2",serif;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-family: "Muli", serif;
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
    font-family: "Muli", serif;
    
}

.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #e2b646; 
    color: #fff;
    font-size: 18px;
    font-family: "Muli", serif; 
    border-radius: 20px;   
}

.loginbox input[type="submit"]:hover {
    cursor: pointer;
    background: #000;
    color: #fff;
} 

.loginbox a {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: darkgrey;
    font-family: "Muli", serif;
    padding: 0 0 40px;
}

.loginbox a:hover{
    color: #e2b646;
}