*{

	margin: 0;
	padding: 0;
	box-sizing: border-box;
  
}

h1{
font-family: 'Cormorant Unicase', serif;
}

body{
	background-color: white;
	font-family: "Muli",serif;
}


a{

  text-decoration: none;
  list-style-type: none;
  font-family: 'Open Sans', sans-serif;
 
}

.footer_content{
    display: flex;
    
    padding-left: 60px;
  
  }
  .footer{
    background: #17181b;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
  
  
  }
  .footer p{
    color: #8a8a8a;
      
  }
  .footer h3{
    color: #fff;
    margin-bottom: 20px;
  
  }
  .footer-col-1, .footer-col-2, .footer-col-3{
    min-width: 250px;
    margin-bottom: 10px;
  }
  
  .footer-col-2{
    flex: 1;
    text-align: center;
    margin-left: 150px;
      
  }
  .footer-col-2 img{
    width: 220px;
      margin-left: 5px;
    
  }
  .footer-col-3{
    /*flex-basis: 8%;*/
    text-align: center;
    
  
  }
  
  ul{
    list-style-type: none;
    cursor: pointer;
  }
  .app-logo{
    margin-top: 20px;
  
  
  }
  .app-logo img{
    width: 140px;
    cursor: pointer;
  
  
  }
  .footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
  }
  .copyright{
    text-align: center;
  }
  
  
  .container-footer{
    max-width: 1300px;
    margin: auto;
    padding-left: 10px;
    padding-right: 45px;
  }
  
  
  .social-list a {
    margin: 0 2rem;
  }
  
  .social-list i {
    font-size: 2rem;
    color: #a7a7a7;
  }

  .social-list{
    text-align: center;
  }