.registration {
    width: 100%;
    height: 160vh;
    background-color: #272727;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .registration-wrapper {
    width: 60%;
    height: 120rem;
    display: flex;
    box-shadow: 0 5rem 11rem rgba(0, 0, 0, 0.5);
  }
  
  .registration-left {
    width: 35%;
    background: linear-gradient(rgba(15, 15, 15, 0.2), rgba(22, 22, 22, 0.2)),
      url(images/registration_bg.jpg) center no-repeat;
    background-size: cover;
  }
  
  .registration-right {
    width: 65%;
    background-color: #eee;
    padding: 2rem 10rem 10rem 10rem;
  }
  
  .registration-heading {
    font-family: "Baloo Da 2", serif;
    font-size: 6rem;
    font-weight: 300;
    color: #272727;
    margin-bottom: 5rem;
    text-align: center;
  }
  
  .registration-right form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .input-group {
    position: relative;
  }
  
  .field {
    width: 45rem;
    background-color: transparent;
    border: none;
    border-bottom: 0.2rem dashed #636363;
    margin: 3rem 0;
    padding: 1rem 1rem 1rem 0;
    font-family: "Muli", serif;
    font-size: 1.4rem;
    color: #4b4b4b;
  }
  
  .input-group input {
    height: 4rem;
  }
  
  .input-group textarea {
    max-height: 7rem;
    max-width: 45rem;
  }
  
  .field:focus {
    border-bottom-style: solid;
  }
  
  .input-group label {
    position: absolute;
    left: 0;
    font-family: "Baloo Da 2", serif;
    padding: 5rem 5rem 5rem 0;
    font-size: 1.8rem;
    color: #4b4b4b;
    text-transform: uppercase;
    pointer-events: none;
    transition: all 0.3s;
  }
  
  .input-label {
    bottom: 3rem;
  }
  
  .message {
    bottom: 5rem;
  }
  
  .field:focus ~ label {
    transform: translateY(-3rem);
    font-size: 1.2rem;
  }
  
  .submit-btn {
    width: 45rem;
    height: 5rem;
    background-color: #c29525;
    color: #fff;
    border: none;
    margin-top: 2rem;
    font-family: "Muli", serif;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    cursor: pointer;
    text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
  }

  @media (max-width: 1500px) {

    .registration {
      height: 140rem;    
    }
    .registration-wrapper {
      width: 65%;
      height: 120rem;
      box-shadow: 0 8rem 14rem rgba(0, 0, 0, 0.5);
    }

    
    .registration-right {
      width: 65%;
      padding: 5rem 12rem 12rem 12rem;
    }
  
    .footer-content {
      width: 80%;
    }
  }
  
  @media (max-width: 1300px) {

    .registration {
      height: 130rem;    
    }

    .registration-wrapper {
      width: 90%;
      height: 110rem;
    }
  
    .registration-heading {
      margin-bottom: 2rem;
    }

    .input-group label {
      padding: 2rem 2rem 2rem 0;  
    }
  
    .field {
      margin: 2rem 0;
    }
  }
  
  @media (max-width: 1000px) {
    .registration-left {
      width: 0;
    }
  
    .registration-right {
      width: 100%;
    }
  
    .field {
      width: 55rem;
    }
  
    .input-group textarea {
      max-width: 55rem;
    }
  
    .submit-btn {
      width: 55rem;
    }
  
    .footer-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 50%;
    }
  
    .copyright {
      order: 1;
      margin-top: 3rem;
    }
  }
  
  @media (max-width: 700px) {
    .field {
      width: 35rem;
    }
  
    .input-group textarea {
      max-width: 35rem;
    }
  
    .submit-btn {
      width: 35rem;
    }
  }
  
  @media (max-width: 500px) {
    html {
      font-size: 45%;
    }

    .registration-left {
      width: -100%;
    }
  
    .registration-right {
      width: 100%;
    }

    
  
    .sidebar {
      width: 100%;
      right: -100%;
    }
  
    .change .hamburger-menu {
      right: 38rem;
    }
    .footer {
      height: 18rem;
    }
  
