
body {
    margin: 0;
    padding: 0;
    background-color: #272727;
    background-size: cover;
    background-position: center;
}

h1 {
    font-family: "Muli",serif;
    font-size: 4rem;
    font-weight: 300;
    color: #e2b646;
    margin-bottom: 6rem;
    text-align: center;
}


th, td {
    padding: 15px;
}

table {
    font-size: 12px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    width: 750px;
    height: 150px;


}

table,th,td {
    border-collapse: collapse;
    border: 1px solid #272727;
    font-family: "Muli", serif;
}

#header {
    font-size: 15px;
    background-color: #e2b646;
    color: #fff;
}

a{

  text-decoration: none;
  list-style-type: none;
  font-family: "Muli", serif;
 
}

nav li {
 float: left;
 background-color: #e2b646;
 font-size: 12px;
 margin-right: 10px;
 margin-top: 15px;


}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 8px 25px;
  text-decoration: none;

}

nav li a:hover, nav .active {
  background-color: #F5FFFA;
  color: black;
}

nav ul{
  list-style-type: none;
}

td li {
  float: left;
  background-color: #e2b646;
  font-size: 12px;
  margin-right: 10px;
  margin-top: 15px;
 
 }
 
 td li a {
   display: block;
   color: white;
   text-align: center;
   padding: 8px 25px;
   text-decoration: none;
 
 }
 
 td li a:hover, td .active {
   background-color: #000;
   color: #fff;
 }
